body {
  margin: 0;
  padding: 0;
  color: white;
  background: linear-gradient(45deg, #120438, #160a70, #508ee0, hsl(258, 68%, 43%));
  background-size: 300% 300%;
  animation: color 6s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
