// .modal-styles { 
//     position: absolute;
//     // width: 30em;
//     // height: 3em;
//    top: 0; 
//    left: 0;
//    right: 0;
//    background-color: blue;
//    z-index: 10000;
// }

// .project-card-modal {
//     visibility: visible;
// }



.modal-content { 
    visibility: hidden;
    position: absolute;
    top: -100%;
    left: 30%;
    // transform: translateX(-50%);
    text-align: center;
    color: white;
    z-index: 3;
    // transition: top 1s ease transform 1s ease;
} 

.shopping-cart-container:hover > .modal-content { 
    z-index: 3;
    visibility: visible;
    text-align: center;
    animation: slideFromTop 1s ease forwards;
    // background-image: url('src/assets/linear-gradient-bg-img.jpg');
    // background-size: cover;
    // background-repeat: no-repeat;
}

.shopping-cart-container:hover .fashion-gems-demo-styles {
    opacity: 0.3; /* Hide the image when hovering over the container */
}

.shopping-cart-container { 
    position: relative;
    z-index: 1;
}

.shopping-cart-container:hover { 
    // background-image: url('src/assets/linear-gradient-bg-img.jpg');
    // background-size: cover;
    // background-repeat: no-repeat;
    background-color: purple;
    z-index: 2;
}

@keyframes slideFromTop { 
    from { 
        top: -30%;
    } 

    to { 
        top: 30%;
    }
}
