@import '../Styles/header_styles.scss';
@import '../Styles/welcome_header_main_styles.scss';
@import '../Styles/tech_stack_styles.scss';
@import '../Styles/projects_section_styles.scss';
@import "../Styles/resume_styles.scss";
@import "../Styles/footer_content_styles.scss";
@import "../Styles/hover_class_shopping_project_modal_styles.scss";
@import "../Styles/background_styles.scss";
@import "../Styles/hover_class_memory_card_styles.scss"