@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.projects-section-wrapper { 
    // display: flex;
    // flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

// .projects-container { 
//     transform: scale(0.8);
// }

.projects-section-wrapper h1 { 
    text-align: center;
}

.projects-section-wrapper p { 
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 100%;
    font-size: 1.2rem;
    text-align: center;
    padding: 1em;
}

.fashion-gems-demo-styles,
.memory-card-demo-styles { 
    width: 30em;
}

// .cv-app-container img { 
//     height: 19em;
// }

.cv-app-container img {
    width: 29em;
    height: 19em;
}

.projects-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
    // opacity: 0;
}

.shopping-cart-container,
.memory-card-container,
.cv-app-container,
.vault-bjj-container
 { 
    box-shadow: 0 0 10px #8e44ad, 0 0 10px #8e44ad, 0 0 28px #8e44ad;
}



.projects-container .shopping-cart-container,
.projects-container .memory-card-container,
.projects-container .cv-app-container,
.projects-container .vault-bjj-container { 
    opacity: 0;
    transition: opacity 2s ease;
    
} 

.projects-container .shopping-cart-container.focused,
.projects-container .memory-card-container.focused,
.projects-container .cv-app-container.focused,
.projects-container .vault-bjj-container.focused { 
    opacity: 1;
    transform: scale(1);
    transition: opacity 2s ease, transform 2s ease;
}

// .projects-container:focus-within { 
//     transform: scale(2);
//     opacity: 1;
// } 



// .shopping-cart-container:hover { 
//     background-color: green;
// }


// .projects-container:focus-within button { 
//     animation: grow 1s ease forwards;
// }




@media (max-width: 520px) { 
    .fashion-gems-demo-styles,
    .memory-card-demo-styles,
    .vault-bjj-demo-styles { 
        width: 21em;
    }   

    .cv-app-container img { 
        width: 21em;
        height: 15em;
    } 
}

@keyframes grow { 
    0% { 
    transform: scale(0);
    }

    100% { 
        transform: scale(1);
    }
}