@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.tech-stack-wrapper {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tech-stack-container h1 {
  text-align: center;
}

.languages-container svg {
  width: 5em;
}

.languages-container {
  display: flex;
  justify-content: center;
  
  gap: 3em;
  font-size: 1vw;
  // flex-wrap: wrap;
}

// #postgreSQL-styles { 
//   position: relative;
//   top: 0.7rem;
// }

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mongoDB-container,
.postgreSQL-container,
.expressjs-container,
.react-container,
.nodejs-container,
.javascript-container,
.sass-container,
.html-container,
.css-container,
.bootstrap-container,
.vitest-container,
.webpack-container,
.jest-container {
  display: flex;
  
  flex-direction: column;
  
  text-align: center;
}



// .mongoDB-container svg,
// .postgreSQL-container svg,
// .expressjs-container svg,
// .react-container svg,
// .nodejs-container svg,
// .javascript-container svg,
// .sass-container svg,
// .html-container svg,
// .css-container svg,
// .bootstrap-container svg,
// .vitest-container svg,
// .webpack-container svg,
// .jest-container svg { 
//   margin-bottom: 20px; 
// }



.tech-stack-container.focused {
  animation: fadeIn 2s forwards;
}

.languages-container div {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.languages-container div:nth-child(1) {
  animation-delay: 0.5s; /* Adjust the delay for each subsequent SVG or image */
}

.languages-container div:nth-child(2) {
  animation-delay: 1s;
}

.languages-container div:nth-child(3) {
  animation-delay: 1.5s;
}

.languages-container div:nth-child(4) {
  animation-delay: 2s;
}

.languages-container div:nth-child(5) {
  animation-delay: 2.5s;
}

.languages-container div:nth-child(6) {
  animation-delay: 3s;
}

.languages-container div:nth-child(7) {
  animation-delay: 3.5s;
}

.languages-container div:nth-child(8) {
  animation-delay: 4s;
}

.languages-container div:nth-child(9) {
  animation-delay: 4.5s;
}

.languages-container div:nth-child(10) {
  animation-delay: 5s;
}

.languages-container div:nth-child(11) {
  animation-delay: 5.5s;
}

.languages-container div:nth-child(12) {
  animation-delay: 6s;
}

.languages-container div:nth-child(13) {
  animation-delay: 6.5s;
}

@media (max-width: 1040px) {
  .languages-container {
    flex-wrap: wrap;
    font-size: 1.6vw;
    gap: 1em;
    padding: 1.5em;
  }
}

@media (max-width: 700px) {
  .languages-container {
    display: flex;
    font-size: 2.5vw;
    flex-wrap: wrap;
    padding: 1em;
  }
}

@media (max-width: 550px) {
  .languages-container {
    display: flex;
  }
}
