@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main { 
    display: flex;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    // height: 70vh;
    // padding-top: 6em;
    padding-top: calc(6em + 20px);

    .welcome-title-container { 
        display: flex;
        flex-direction: column;
        // padding: 6em;
        width: 45%;

        .welcome-portfolio-title-text { 
        font-size: 1.3rem;
        }
       
    }
}

.name-title-container h1{ 
    width: 80%;
    font-size: 2.2em;
    // visibility: hidden;
} 

.name-title-container p { 
    font-size: 1.2rem;
}

.circles { 
    width: 333px;
    height: 333px;
    position: relative;
    perspective: 50000px;
    color: #61dafb;
}

.circles span { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background: blueviolet;
    width: 18.4%;
    height: 18.4%;
    border-radius: 50%;
    
}

.circles div { 
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 13.32px solid;
    border-right: 5.123076px solid;
    border-top: 13.32px solid transparent;
    border-radius: 100%;
}


.circles div:nth-child(1) { 
    animation: anim-1 1s linear infinite;
}

.circles div:nth-child(2) { 
    animation: anim-2 1s linear infinite;
}

.circles div:nth-child(3) { 
    animation: anim-3 1s linear infinite;
}


@keyframes anim-1 { 
    from { 
        transform: rotateZ(120deg) rotateX(66deg) rotateZ(0);
    }

    to { 
        transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
    }
} 


@keyframes anim-2 { 
    from { 
        transform: rotateZ(240deg) rotateX(66deg) rotateZ(0);
    }

    to { 
        transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
    }
}

@keyframes anim-3 { 
    from { 
        transform: rotateZ(360deg) rotateX(66deg) rotateZ(0);
    }

    to { 
        transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
    }
}



@media (max-width: 1026px) { 

    // .main { 
    //     padding-top: calc(6em + 20px);
    // }

    .circles { 
        width: 200px;
        height: 200px;
    }

    .circles-container { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 1em;
    }

    .welcome-title-container h1 { 
        width: 100%;
    }
} 

// @media (max-width: 700px) { 
//     main { 
//      padding-top: 11em;
//     }

  
// }




@media (max-width: 650px) { 
        main { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        width: 100%;
        text-align: center;
        // padding: 3em;
    }

    .circles { 
        width: 100px;
        height: 100px;
    }

    .circles span { 
        position: absolute;
        left: 3.5em;
        width: 15%;
        height: 15%;
    }

    .welcome-portfolio-title-text h3 { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // width: 100%;
        white-space: nowrap;
        padding: 0.3em;
    }

    .name-title-container h1{ 
        font-size: 1.3rem;
        width: 100%;
    }

    .name-title-container p { 
        font-size: 0.9rem;
    }

    // .name-title-container { 
    //     width: 100%;
    // }
}

// @media (max-width: 800px) { 
//     main { 
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         font-size: 1em;
//         width: 100%;
//         padding: 3em;
//     }



//     .circles-container { 
//         display: flex;

//         .circles { 
//             width: 25vw;
//             height: 25vh;
//         }
//     }

// }

// @media (max-width: 560px) { 
//     .welcome-portfolio-title-text h3 { 
//         font-size: 2rem;
//         width: 100%;
//     }
// }